@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');

#root {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Bebas Neue', cursive;

  h1 {
    font-size: 60px;
  }

  #loginSignup {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 50vh;
    width: 100%;

    .login {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        font-size: 40px;
      }
      button {
        margin-top: 16px;
        border: none;
        background: none;
        font-family: 'Bebas Neue', cursive;
        font-size: 24px;
    
        border-radius: 12px;
    
        &:hover {
          box-shadow: 0px 4px 8px gray;
        }
    
        &#toggleSignup {
          width: 150px;
        }
    
      }
    }

    .sign-up {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        font-size: 30px;
      }
      button {
        margin-top: 16px;
        border: none;
        background: none;
        font-family: 'Bebas Neue', cursive;
        font-size: 24px;
    
        border-radius: 12px;
    
        &:hover {
          box-shadow: 0px 4px 8px gray;
        }
    
        &#toggleSignup {
          width: 150px;
        }
    
      }
    }

  }

  input {
    outline: none;
    background: none;

    font-family: 'Roboto Mono', monospace;
    font-size: 16px;

    border: 1px solid rgba(128, 128, 128, 0.597);
    border-radius: 14px;

    height: 24px;
    width: 60%;

    padding-left: 15px;
    margin-top: 8px;
  }

  #toggleSignup {
    margin-top: 16px;
    border: none;
    background: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;

    border-radius: 12px;

    &:hover {
      box-shadow: 0px 4px 8px gray;
    }

    &#toggleSignup {
      width: 150px;
    }

  }
  
}